In [1]:
import os
import fnmatch
import re

In [2]:
import pandas as pd
import numpy as np

In [3]:
state_dict = {'acre':'AC', 'alagoas':'AL','amapa':'AP',
              'amazonas':'AM', 'bahia':'BA', 'ceara':'CE',
              'distrito_federal':'DF','espirito_santo':'ES',
              'goias':'GO', 'maranhao':'MA', 'mato_grosso':'MT',
              'mato_grosso_do_sul':'MS', 'minas_gerais':'MG',
              'para':'PA', 'paraiba':'PB', 'parana':'PR',
              'pernambuco':'PE', 'piaui':'PI', 'rio_de_janeiro':'RJ',
              'rio_grande_do_norte':'RN', 'rio_grande_do_sul':'RS',
              'rondonia':'RO', 'roraima':'RR', 'santa_catarina':'SC',
              'sao_paulo':'SP', 'sergipe':'SE','tocantins':'TO',
}

In [25]:
# for f_name in os.listdir('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/estados/acre'):
#     if f_name.endswith('tab1.xls'):
#            data = pd.read_excel('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/tabs/'+f_name,
#                  skiprows=[0,1,2,3,4,5,6,7,8], header=0, usecols="B:H", names=['Município','Total', 'Urbana(%)', 'Rural(%)', 'Homem(%)', 'Mulher(%)', 'Razão_de_Sexo(%)']
#                 )

In [35]:
for f_name in os.listdir('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/estados/acre'):
    if f_name.endswith('.xls'):
        print(f_name)
#            data = pd.read_excel('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/tabs/'+f_name,
#                  skiprows=[0,1,2,3,4,5,6,7], header=0, usecols="B:H"
#                 )

acre_tab2.xls
acre_tab16.xls
acre_tab11.xls
acre_tab14.xls
acre_tab13.xls
acre_tab3.xls
acre_tab1.xls
acre_tab17.xls
acre_tab5.xls
acre_tab8.xls
acre_tab9.xls
acre_tab12.xls
acre_tab7.xls
acre_tab10.xls
acre_tab15.xls
acre_tab4.xls

In [31]:
# for file in os.listdir('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/estados/acre'):
#     for keys in state_dict:
#         if file

In [32]:
data.head()

            Até 5.000    4691  40.33  59.67  51.29  48.71 105.29665366454526
0  Santa Rosa do Purus   4691  40.33  59.67  51.29  48.71         105.296654
1   De 5.001 a 10.000   47075  47.15  52.85  52.63  47.37         111.104074
2         Assis Brasil   6072  60.94  39.06  50.91  49.09         103.707476
3               Bujari   8471   43.6   56.4  53.94  46.06          117.10812
4             Capixaba   8798  44.66  55.34  52.91  47.09         112.359312

In [5]:
# data = pd.read_excel('/home/bereoff/bruno/rocketship/censo_demografico_2010/indicadores_sociais_municipais/tabs/acre_tab1.xls',
#                      skiprows=[0,1,2,3,4,5,6], header=None, usecols="B:H", names=['Município','Total', 'Urbana(%)', 'Rural(%)', 'Homem(%)', 'Mulher(%)', 'Razão_de_Sexo(%)']
#                     )

In [6]:
# data.head()