In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/bereoff/bruno/rocketship/censo_brasil/idSUS2010_cidades.xlsx - Plan1.csv')

In [3]:
df.head()

               Município  codmun  UF idsus_fx Grupo Homogêneo
0  Alta Floresta D'Oeste  110001  RO  4 a 4,9             GH3
1              Ariquemes  110002  RO  4 a 4,9             GH3
2                 Cabixi  110003  RO  4 a 4,9             GH5
3                 Cacoal  110004  RO  4 a 4,9             GH3
4             Cerejeiras  110005  RO  4 a 4,9             GH5